:root {
  --backgrounds-grouped-dark-base-primary: rgba(0, 0, 0, 1);
  --backgrounds-grouped-dark-base-secondary: rgba(28, 28, 30, 1);
  --backgrounds-grouped-dark-base-tertiary: rgba(44, 44, 46, 1);
  --backgrounds-grouped-dark-elevated-primary: rgba(28, 28, 30, 1);
  --backgrounds-grouped-dark-elevated-secondary: rgba(44, 44, 46, 1);
  --backgrounds-grouped-dark-elevated-tertiary: rgba(58, 58, 60, 1);
  --backgrounds-grouped-light-primary: rgba(242, 242, 247, 1);
  --backgrounds-grouped-light-secondary: rgba(255, 255, 255, 1);
  --backgrounds-grouped-light-tertiary: rgba(242, 242, 247, 1);
  --backgrounds-dark-base-primary: rgba(0, 0, 0, 1);
  --backgrounds-dark-base-secondary: rgba(28, 28, 30, 1);
  --backgrounds-dark-base-tertiary: rgba(44, 44, 46, 1);
  --backgrounds-dark-elevated-primary: rgba(28, 28, 30, 1);
  --backgrounds-dark-elevated-secondary: rgba(44, 44, 46, 1);
  --backgrounds-dark-elevated-tertiary: rgba(58, 58, 60, 1);
  --backgrounds-light-primary: rgba(255, 255, 255, 1);
  --backgrounds-light-secondary: rgba(242, 242, 247, 1);
  --backgrounds-light-tertiary: rgba(255, 255, 255, 1);
  --fills-dark-1-primary: rgba(120, 120, 128, 0.36);
  --fills-dark-2-secondary: rgba(120, 120, 128, 0.32);
  --fills-dark-3-tertiary: rgba(118, 118, 128, 0.24);
  --fills-dark-4-quaternary: rgba(118, 118, 128, 0.18);
  --fills-dark-5-quinary: rgba(118, 118, 128, 0.02);
  --fills-dark-vibrant-1-primary: rgba(51, 51, 51, 1);
  --fills-dark-vibrant-2-secondary: rgba(31, 31, 31, 1);
  --fills-dark-vibrant-3-tertiary: rgba(18, 18, 18, 1);
  --fills-light-1-primary: rgba(120, 120, 120, 0.2);
  --fills-light-2-secondary: rgba(120, 120, 128, 0.16);
  --fills-light-3-tertiary: rgba(118, 118, 128, 0.12);
  --fills-light-4-quaternary: rgba(116, 116, 128, 0.08);
  --fills-light-5-quinary: rgba(0, 0, 0, 0.02);
  --fills-light-vibrant-1-primary: rgba(204, 204, 204, 1);
  --fills-light-vibrant-2-secondary: rgba(224, 224, 224, 1);
  --fills-light-vibrant-3-tertiary: rgba(237, 237, 237, 1);
  --grays-dark-gray: rgba(142, 142, 147, 1);
  --grays-dark-gray-2: rgba(99, 99, 102, 1);
  --grays-dark-gray-3: rgba(72, 72, 74, 1);
  --grays-dark-gray-4: rgba(58, 58, 60, 1);
  --grays-dark-gray-5: rgba(44, 44, 46, 1);
  --grays-dark-gray-6: rgba(28, 28, 30, 1);
  --grays-light-gray: rgba(142, 142, 147, 1);
  --grays-light-gray-2: rgba(174, 174, 178, 1);
  --grays-light-gray-3: rgba(199, 199, 204, 1);
  --grays-light-gray-4: rgba(209, 209, 214, 1);
  --grays-light-gray-5: rgba(229, 229, 234, 1);
  --grays-light-gray-6: rgba(242, 242, 247, 1);
  --labels-liquid-glass-dark-1-primary: rgba(237, 237, 237, 1);
  --labels-liquid-glass-dark-2-secondary: rgba(138, 138, 138, 1);
  --labels-liquid-glass-dark-3-tertiary: rgba(64, 64, 64, 1);
  --labels-liquid-glass-dark-4-quaternary: rgba(38, 38, 38, 1);
  --labels-liquid-glass-light-1-primary: rgba(26, 26, 26, 1);
  --labels-liquid-glass-light-2-secondary: rgba(114, 114, 114, 1);
  --labels-liquid-glass-light-3-tertiary: rgba(191, 191, 191, 1);
  --labels-liquid-glass-light-4-quaternary: rgba(217, 217, 217, 1);
  --labels-dark-1-primary: rgba(255, 255, 255, 1);
  --labels-dark-2-secondary: rgba(235, 235, 245, 0.6);
  --labels-dark-3-tertiary: rgba(235, 235, 245, 0.3);
  --labels-dark-4-quaternary: rgba(235, 235, 245, 0.16);
  --labels-dark-5-quinary: rgba(235, 235, 245, 0.09);
  --labels-dark-vibrant-1-primary: rgba(255, 255, 255, 1);
  --labels-dark-vibrant-2-secondary: rgba(153, 153, 153, 1);
  --labels-dark-vibrant-3-tertiary: rgba(64, 64, 64, 1);
  --labels-dark-vibrant-4-quaternary: rgba(38, 38, 38, 1);
  --labels-light-1-primary: rgba(0, 0, 0, 1);
  --labels-light-2-secondary: rgba(60, 60, 67, 0.6);
  --labels-light-3-tertiary: rgba(60, 60, 67, 0.3);
  --labels-light-4-quaternary: rgba(60, 60, 67, 0.18);
  --labels-light-5-quinary: rgba(60, 60, 67, 0.09);
  --labels-light-vibrant-1-primary: rgba(0, 0, 0, 1);
  --labels-light-vibrant-2-secondary: rgba(153, 153, 153, 1);
  --labels-light-vibrant-3-tertiary: rgba(191, 191, 191, 1);
  --labels-light-vibrant-4-quaternary: rgba(217, 217, 217, 1);
  --separators-dark-non-opaque: rgba(255, 255, 255, 0.12);
  --separators-dark-opaque: rgba(56, 56, 58, 1);
  --separators-dark-vibrant: rgba(26, 26, 26, 1);
  --separators-light-non-opaque: rgba(0, 0, 0, 0.12);
  --separators-light-opaque: rgba(198, 198, 200, 1);
  --separators-light-vibrant: rgba(230, 230, 230, 1);
  --system-colors-dark-1-red: rgba(255, 66, 69, 1);
  --system-colors-dark-2-orange: rgba(255, 146, 48, 1);
  --system-colors-dark-3-yellow: rgba(255, 214, 0, 1);
  --system-colors-dark-4-green: rgba(48, 209, 88, 1);
  --system-colors-dark-5-mint: rgba(0, 218, 195, 1);
  --system-colors-dark-6-teal: rgba(0, 210, 224, 1);
  --system-colors-dark-7-cyan: rgba(60, 211, 254, 1);
  --system-colors-dark-8-blue: rgba(0, 145, 255, 1);
  --system-colors-dark-9-indigo: rgba(109, 124, 255, 1);
  --system-colors-dark-10-purple: rgba(219, 52, 242, 1);
  --system-colors-dark-11-pink: rgba(255, 55, 95, 1);
  --system-colors-dark-12-brown: rgba(183, 138, 102, 1);
  --system-colors-light-1-red: rgba(255, 56, 60, 1);
  --system-colors-light-2-orange: rgba(255, 141, 40, 1);
  --system-colors-light-3-yellow: rgba(255, 204, 0, 1);
  --system-colors-light-4-green: rgba(52, 199, 89, 1);
  --system-colors-light-5-mint: rgba(0, 200, 179, 1);
  --system-colors-light-6-teal: rgba(0, 195, 208, 1);
  --system-colors-light-7-cyan: rgba(0, 192, 232, 1);
  --system-colors-light-8-blue: rgba(0, 136, 255, 1);
  --system-colors-light-9-indigo: rgba(97, 85, 245, 1);
  --system-colors-light-10-purple: rgba(203, 48, 224, 1);
  --system-colors-light-11-pink: rgba(255, 45, 85, 1);
  --system-colors-light-12-brown: rgba(172, 127, 94, 1);
  --x-kit-canvas-color: rgba(191, 191, 191, 1);
  --x-kit-nested-symbol-bg-dark: rgba(54, 103, 153, 1);
  --x-kit-nested-symbol-bg-light: rgba(204, 230, 255, 1);
  --x-kit-symbol-bg-dark: rgba(51, 51, 51, 1);
  --x-kit-symbol-bg-light: rgba(204, 204, 204, 1);
}
